.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 20;

  button,
  a {
    color: #fff;
    font-size: 1.2rem;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }

  .left,
  .right {
    background-color: #000;
  }

  .left {
    padding: 10px 15px;
    border-bottom-right-radius: 10px;
  }

  .right {
    padding: 10px 15px;
    border-bottom-left-radius: 10px;
    margin-left: auto;

    button:first-child {
      margin-right: 10px;
    }
  }
}
